@font-face {
  font-family: "icomoon";
  src: url("../../icomoon.eot?3ksux0");
  src: url("../../icomoon.eot?3ksux0#iefix") format("embedded-opentype"),
    url("../../icomoon.ttf?3ksux0") format("truetype"),
    url("../../icomoon.woff?3ksux0") format("woff"),
    url("../../icomoon.svg?3ksux0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "henderson-bcg-sans";
  src: url("http://fonts.bcg.com/k/b2749065f991d8aa13ad14d391150e69199deaf2-l.woff2")
      format("woff2"),
    url("http://fonts.bcg.com/k/b2749065f991d8aa13ad14d391150e69199deaf2-d.woff")
      format("woff"),
    url("http://fonts.bcg.com/k/b2749065f991d8aa13ad14d391150e69199deaf2-a.otf")
      format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "henderson-bcg-sans";
  src: url("http://fonts.bcg.com/k/965ddd2fc9ad95bc1d3ff80bcf5d5db2adb362cf-l.woff2")
      format("woff2"),
    url("http://fonts.bcg.com/k/965ddd2fc9ad95bc1d3ff80bcf5d5db2adb362cf-d.woff")
      format("woff"),
    url("http://fonts.bcg.com/k/965ddd2fc9ad95bc1d3ff80bcf5d5db2adb362cf-a.otf")
      format("opentype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "henderson-bcg-sans";
  src: url("http://fonts.bcg.com/k/e41af7e5b1cb5256685abca7dce92d4ce7c46af6-l.woff2")
      format("woff2"),
    url("http://fonts.bcg.com/k/e41af7e5b1cb5256685abca7dce92d4ce7c46af6-d.woff")
      format("woff"),
    url("http://fonts.bcg.com/k/e41af7e5b1cb5256685abca7dce92d4ce7c46af6-a.otf")
      format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "henderson-bcg-serif";
  src: url("http://fonts.bcg.com/k/bbde5f9e9d4219cc35b8c5b1452eb635ac3239c9-l.woff2")
      format("woff2"),
    url("http://fonts.bcg.com/k/bbde5f9e9d4219cc35b8c5b1452eb635ac3239c9-d.woff")
      format("woff"),
    url("http://fonts.bcg.com/k/bbde5f9e9d4219cc35b8c5b1452eb635ac3239c9-a.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e006";
}
.icon-pencil:before {
  content: "\e00d";
}
.icon-quill:before {
  content: "\e014";
}
.icon-home1:before {
  content: "\e01c";
}
.icon-image:before {
  content: "\e02d";
}
.icon-bullhorn:before {
  content: "\e05f";
}
.icon-new:before {
  content: "\e061";
}
.icon-file:before {
  content: "\e07a";
}
.icon-file-plus:before {
  content: "\e087";
}
.icon-stack:before {
  content: "\e096";
}
.icon-folder-download:before {
  content: "\e0a9";
}
.icon-ticket:before {
  content: "\e0c0";
}
.icon-cart:before {
  content: "\e0c3";
}
.icon-basket:before {
  content: "\e0ce";
}
.icon-credit:before {
  content: "\e0d5";
}
.icon-phone:before {
  content: "\e0db";
}
.icon-envelope:before {
  content: "\e0ec";
}
.icon-clock:before {
  content: "\e104";
}
.icon-bell:before {
  content: "\e10b";
}
.icon-mobile:before {
  content: "\e125";
}
.icon-bubbles:before {
  content: "\e158";
}
.icon-bubble:before {
  content: "\e169";
}
.icon-user:before {
  content: "\e196";
}
.icon-spinner:before {
  content: "\e1a7";
}
.icon-spinner1:before {
  content: "\e1aa";
}
.icon-spinner2:before {
  content: "\e1ae";
}
.icon-spinner3:before {
  content: "\e1b1";
}
.icon-settings:before {
  content: "\e1db";
}
.icon-cog:before {
  content: "\e1e1";
}
.icon-gift:before {
  content: "\e210";
}
.icon-heart:before {
  content: "\e304";
}
.icon-notification:before {
  content: "\e358";
}
.icon-question:before {
  content: "\e35c";
}
.icon-info:before {
  content: "\e362";
}
.icon-play:before {
  content: "\e380";
}
.icon-pause:before {
  content: "\e381";
}
.icon-stop:before {
  content: "\e382";
}
.icon-backward:before {
  content: "\e383";
}
.icon-forward:before {
  content: "\e384";
}
.icon-play1:before {
  content: "\e385";
}
.icon-arrow-right:before {
  content: "\e3c3";
}
.icon-arrow-up:before {
  content: "\e410";
}
.icon-arrow-right1:before {
  content: "\e411";
}
.icon-arrow-down:before {
  content: "\e412";
}
.icon-arrow-left:before {
  content: "\e413";
}
.icon-menu:before {
  content: "\e418";
}
.icon-checkbox:before {
  content: "\e432";
}
.icon-checkbox-unchecked:before {
  content: "\e433";
}
.icon-radio-checked:before {
  content: "\e438";
}
.icon-radio-unchecked:before {
  content: "\e439";
}
.icon-crop:before {
  content: "\e43c";
}
.icon-share:before {
  content: "\e48c";
}
.icon-google-drive:before {
  content: "\e497";
}
.icon-facebook:before {
  content: "\e498";
}
.icon-twitter:before {
  content: "\e49d";
}
.icon-vimeo:before {
  content: "\e4a5";
}
.icon-flickr:before {
  content: "\e4aa";
}
.icon-dribbble:before {
  content: "\e4af";
}
.icon-github:before {
  content: "\e4ba";
}
.icon-tumblr:before {
  content: "\e4c2";
}
.icon-file-pdf:before {
  content: "\e4e2";
}
.icon-file-excel:before {
  content: "\e4e5";
}
.icon-file-xml:before {
  content: "\e4e8";
}
.icon-file-css:before {
  content: "\e4e9";
}
